.thirdMainBlock {
  height: 812px;
  display: flex;
  align-items: center;

  .container {
    width: 100%;

    .create-sell-NFT {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &__text {
        width: 410px;
        height: 188px;
        a {
          color: white;
          text-decoration: none;
          margin-left: 30px;
          font-weight: bold;
        }
      }

      &__img {
        display: flex;
        width: 410px;
        height: 400px;
        position: relative;

        .img-first {
          position: absolute;
          object-fit: contain;
          height: 100%;
          z-index: 1;
          right: 30%;
          top: 50%;
          border-radius: 20px;
        }

        .img-second {
          position: absolute;
          height: 100%;
          object-fit: contain;
          z-index: 0;
          border-radius: 20px;
          left: 40%;
        }
      }

      @media (max-width: 768px) {
        &__img {
          .img-first {
            width: 85%;
            right: -5%;
            bottom: -5%;
          }
        }
      }
    }
  }
}
