

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.socialNetworks {
  display: flex;
  width: 235px;
  gap: 5px;
  flex-direction: column;
}

.socialMainIcons {
  display: flex;
  justify-content: space-between;
}

.About {
  display: flex;
  gap: 70px;
}

.Copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Privacy {
    display: flex;
    gap: 30px;

    a {
      color: white;
    }
  }
}